<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<!--欢迎文件列表-->
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
	<!--配置DispatcherServlet-->
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>com.itheima.framework.servlet.DispatcherServlet</servlet-class>
		<!--初始化参数，配置要扫描的包名-->
		<init-param>
			<param-name>scanPackage</param-name>
			<param-value>com.itheima.mm.controller</param-value>
		</init-param>

		<!--启动时加载-->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!--2. 配置解决乱码的过滤器-->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>com.itheima.mm.filter.CharchaterFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>